

body {
    background-color: rgb(22, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 40%; 
    background-color: #333;
    padding: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
}
img{
    width: 20px;
}